<% include helper %>
<html>
  <header>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/master.js"></script>
    <script src="/assets/js/jquery.slim.min.js"></script>
  </header>
  <body>
    <main>
      <aside>
        <nav>
          <% boards.forEach(board => { %>
            <a href="/?board=<%=board.name%>"><%=board.title%></a>
          <% }) %>
          <% if(user) { %>
            <h2><%=user.name%>님 안녕하세요?</h2>
            <a href="/write">글쓰기</a>
            <a href="#" onclick="bbs.User.logout(); return false;">로그아웃</a>
          <% } else { %>
            <h2>로그인하세요</h2>
            <a href="/user/login"><button type="button" class="<%=path == '/user/login' ? 'active' : ''%>">로그인</button></a>
            <a href="/user/join"><button type="button">회원가입</button></a>
          <% } %>
        </nav>
      </aside>
    </main>
<hr>